@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00050a;
  color: white;
  overflow-x: hidden;
}

/* customize scroll bar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 5, 10, 0);
}

::-webkit-scrollbar-thumb {
  background: #2f2f2f;
  border-radius: 10px;
}

* {
  font-family: "Inter", sans-serif !important;
  font-weight: bold !important;
  /* border: 1px solid red; */
}

.navbar {
  position: sticky !important;
  top: 0px !important;
  z-index: 1000 !important;
  transition: all 0.5s linear !important;
}

.navbar-background {
  background-color: #00050a !important;
}

nav ul {
  gap: 20px;
}

.max-content {
  /* background-color: rgba(255, 0, 0, 0.05); */
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.bubble-left,
.bubble-right {
  transition: all 2s linear;
}

/*Carousel*/
.carousel-item {
  height: 500px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption h5,
.carousel-caption p {
  color: white;
  font-weight: 500 !important;
}

/**/
.choice-active {
  background-color: #26724d !important;
}

.choice-active p {
  color: white !important;
}

/*MEDIA QUERY*/

@media screen and (max-width: 768px) {
  .bubble-left,
  .bubble-right {
    width: 100px !important;
  }
}
