@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00050a;
  color: white;
  overflow-x: hidden;
}

* {
  font-family: "Inter", sans-serif !important;
  font-weight: bold !important;
  /* border: 1px solid red; */
}

nav ul {
  gap: 20px;
}

.max-content {
  /* background-color: rgba(255, 0, 0, 0.05); */
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.bubble-left,
.bubble-right {
  transition: all 2s linear;
}

@media screen and (max-width: 768px) {
  .bubble-left,
  .bubble-right {
    width: 100px !important;
  }
}
